<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <a href="../6_html_Exercise.html">Back Home</a>
 <h1>About Page</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolor corporis praesentium aperiam similique quam totam rem repellat commodi blanditiis expedita, tenetur quaerat corrupti cum non facilis necessitatibus ut molestias quod? Corrupti, ipsum! Quam obcaecati recusandae neque explicabo optio culpa ad enim exercitationem, sit quidem fugit eum ratione voluptates corrupti accusamus accusantium debitis dolor alias, officia fuga ea? Tenetur exercitationem magnam dolores officiis, officia a placeat sint libero quas provident, earum ab facilis iure itaque numquam sapiente ipsum molestiae cupiditate.</p>


</body>
</html>